config.ini
*.git-credentials
PSScriptAnalyzerSettings.psd1
_tests/**
logs/**
test_programs/aida64/*
!test_programs/aida64/aida64.txt
test_programs/y-cruncher/Binaries/*.cfg
test_programs/p95_dev/*
test_programs/p95/local.txt
test_programs/p95/prime.txt
test_programs/LinpackXtreme/**/linpack.ini
test_programs/LinpackXtreme/**/results.txt
test_programs/LinpackXtreme/binaries/x64/linpack_amd64_autofail.exe