config.ini
*.git-credentials
_tests/**
logs/**
test_programs/aida64/*
!test_programs/aida64/aida64.txt
test_programs/y-cruncher/Binaries/*.cfg
test_programs/p95_dev/*
test_programs/p95/local.txt
test_programs/p95/prime.txt