.updatecheck
config.ini
*.git-credentials
*.zip
*.7z
PSScriptAnalyzerSettings.psd1
_tests/**
logs/**
test_programs/aida64/*
!test_programs/aida64/aida64.txt
test_programs/y-cruncher*/**/*.cfg
test_programs/p95_*
test_programs/p95/local.txt
test_programs/p95/prime.txt
test_programs/LinpackXtreme/**/*.ini
test_programs/LinpackXtreme/**/results.txt
test_programs/LinpackXtreme/binaries/x64/linpack_amd64_autofail.exe